{% extends 'new_app/base.html' %}

{% block content %}
<div class="col-md-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <p class="card-text">
                Office Moscow<br>
                Office Spb
            </p>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card shadow-sm">
        <div class="card-body">
            <h2> Напишите нам </h2>
            <form method="post">
                {% csrf_token %}
                <input class="form-control mb-2" name="name"/>
                <input class="form-control mb-2" name="email"/>
                <textarea class="form-control mb-2" name="message"></textarea>
                <button type="submit" class="btn btn-primary form-control mb-2">Отправить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
